body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
a{
    text-decoration: none;
}
#foot{
    background-color: #818282;
    color: white;
    font-size: 15px;
    padding: 10px 40px 10px 680px;
    text-align: right;
    width: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}
#linkBut{
    background-color: #dbdbdb;
    font-size: 15px;  
    color:black;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 20px;
    transition: 0.2s;
}
.padLinkBut{
    padding: 10px 10px 10px 10px;
}
.headF{
    position: fixed;
    z-index: 1;
}
#linkBut:hover {
    background-color: #818282;
    color: white;
    transform: translateY(-5px);
  }



#textboxC{
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    position: absolute;
    top:50%;left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    margin:20px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    border: none;
    text-align: center;
    transition: 1.5s;
    width: 50%;
    padding: 50px 20px 50px 20px;
    display: inline-block;
    border-radius: 60px;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: 500;
  }
  
.button:hover {
    background-color: #818282;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
    color: white;
    transform: translateY(-50px);
  }

  
@media only screen and (max-width: 900px) {
    body{
        background-size: auto;
        background-position: center;
        background-repeat:repeat;
    }
    .button {
        font-size: 20px;
        padding: 30px 10px 30px 10px;
    }
    #foot{
        font-size: 10px;
        padding: 10px 13px 10px 13px;
    }
    #textboxC{
        font-size: 15px;
        height: auto;
    }
}